.TodoList {
	width: 100%;
    height: 100%;
    overflow-y: auto;

}

.TodoList .add{
    margin: 25px;
}
.TodoList .list{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    overflow-y: auto;
    padding: 10px;
}

.TodoList .center{
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: center;*/
    /*!*flex-wrap: wrap;*!*/
    /*align-items: center;*/
    /*!*overflow-y: auto;*!*/
    /*padding: 10px;*/
}