.Home {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Home > img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 2px dotted slateblue;
}
