.Total {
	/*background-color:darkgray;*/
    /*width: 100px;*/
    /*height: 100px;*/

}


.circle-with-text {
    background: linear-gradient(orange, red);
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    text-align: center;
    margin: 5px;
    font-size: 15px;
    padding: 5px;
    display: flex;
    height: 50px;
    width: 50px;
    color: #fff;
}