.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    /*margin: auto;*/
    /*text-align: center;*/
    font-family: arial, serif;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #e7e7e7;
    margin: 5px;
}

.card * {
    font-weight: 600;
}

.card img {
    width: 100%;
}

.card h1 {
    /*background-color: #2196F3;*/
    height: 4vh;
}

.card .id {
    /*background-color: #C3E5AE77;*/
}

.card .description {
    color: grey;
    font-size: 18px;
    height: 8vh;
    /*background-color: #04AA6DAA;*/
    text-align: center;
}

.card .group {
    background-color: #ff9800;
}

.card .when {
    margin-top: 10px;
    margin-bottom: 10px;
    /*background-color: #ff9800;*/
}

.card .buttons {
    width: 100%;
    /*background-color: #ff9800;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 8px;

}

/*.card button {*/
/*    border: none;*/
/*    outline: 0;*/
/*    display: inline-block;*/
/*    padding: 8px;*/
/*    color: white;*/
/*    background-color: #000;*/
/*    text-align: center;*/
/*    cursor: pointer;*/
/*    width: 100%;*/
/*    font-size: 18px;*/
/*}*/

/*.card a {*/
/*    text-decoration: none;*/
/*    font-size: 22px;*/
/*    color: black;*/
/*}*/

/*.card button:hover, a:hover {*/
/*    opacity: 0.7;*/
/*}*/
