.App {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    height: 100%;
}

.App > .Header{
    grid-column: 12 span;
    grid-row: 1 span;
}

.App > .Menu{
    grid-column: 2 span;
    grid-row: 10 span;
    background-color: coral;
}

.App > .Main{
    grid-column: 10 span;
    grid-row: 10 span;
    background-color: aquamarine;
}

.App > .Footer{
    grid-column: 12 span;
    grid-row: 1 span;
}